.show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
}
.head {
  width: 33%;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  text-align: center;

  color: #4f5665;
}
.grid-container {
  
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  display: grid;
  background: #ffffff;
  width: 80%;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding-bottom: 50px;
}
.col1 {
  

  
  background: #ffffff;
  border: 0.939651px solid #dddddd;
  border-radius: 4.69826px;
  box-sizing: border-box;
}
.col2 {
  
  
  border: 0.939651px solid #dddddd;
}
.col3 {
 
  border: 0.939651px solid #f53838;
  border-radius: 4.69826px;
}
.img {
  transform: scale(1.5);
  position: relative;
  padding-top: 50px;
}
.title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  color: #0b132a;
  text-align: center;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  display: flex;
}
.free-list {
  list-style-image: url("../../../public/Images/Group1120.svg");
  text-align: left;
  display: flex;

  justify-content: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;

  color: #4f5665;
}
.footer {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;

  color: #0b132a;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.btn {
  border: 0.939651px solid #f53838;
  border-radius: 23px;
  justify-content: center;
  align-items: center;
  width: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: auto;
  

}
.btn .primary {
  color: #f53838;
  justify-content: center;
  align-items: center;
 
}
.mon{
  color:#4F5665;
}
.price{
  color:#4F5665;
}
.btn-sec{
  background-color: #f53838;
  color: white;
  border: 0.939651px solid #f53838;
  border-radius: 23px;
  justify-content: center;
  align-items: center;
  width: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: auto;
  color: #ffffff;

}
